html {
  font-size: 18px;
}

[x-cloak] {
  display: none;
}
[\@click] {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.8rem;
}

.container {
  max-width: 992px;
}
.card {
  border: 0;
  overflow: hidden;
}
.list-group-item {
  padding: 0.5rem;
}
.modal-header {
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
