[x-cloak] {
  display: none;
}
[\@click] {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.8rem;
}

.btn {
  border: 0;
}
.container {
  max-width: 992px;
}
.card {
  border: 0;
  overflow: hidden;
}
.list-group-item {
  padding: 0.5rem;
}
.modal-header {
  padding: 0.5rem 1rem;
}

.badge.first-player {
  box-shadow: inset 0 0 0 2px #ffc107, 0 0 0 2px #dc3545;
}

@media (min-width: 576px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
