* {
  font-family: Arial, sans-serif;
}

html {
  min-height: 100%;
}


/* Attributes */
[x-cloak] {
  display: none;
}

[\@click] {
  cursor: pointer;
}


/* Utils */
.fs-7 {
  font-size: 0.8rem;
}
.fs-8 {
  font-size: 0.64rem;
}


/* Overrides */
.bg-light {
  background-color: #eee !important;
}

.container {
  max-width: 992px;
}

.btn {
  border: 0;
}

.card {
  border: 0;
  overflow: hidden;
}

.badge {
  background: #fff !important;
  color: #000;
}

.list-group-item {
  padding: 0.5rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.form-check {
  padding: 0;
}
.form-check .form-check-input {
  margin: 0.45rem 0;
  cursor: pointer;
}
.form-check .form-check-label {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.modal-header {
  padding: 0.5rem 1rem;
}


/* Components */
.badge.first-player {
  box-shadow: inset 0 0 0 2px #dc3545, 0 0 0 2px #0dcaf0;
}


/* Media Queries */
@media (min-width: 576px) {
  html {
    font-size: 18px;
  }

  .col-form-label {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
